<div class="container">
	<div class="col-sm-6 col-sm-offset-3 text-center">
		Nos especializamos en diseño web, diseño de paginas web, posicionamiento SEO, administrador de contenidos, ecommerce. Creamos diseños visualmente atractivos e interfaces intuitivas.
	</div>


</div>
<div class="container grey">
	<div class="col-sm-4 text-center item">
		<i class="ion-eye"></i>
		<h2>Enfoque</h2>
		Nuestro trabajo es desarrollar plataformas web con un enfoque a una excelente experiencia de usuario, con el objetivo de convertir visitantes en clientes.
	</div>

	<div class="col-sm-4 text-center item">
		<i class="ion-levels"></i>
		<h2>Optimización CEO</h2>
		Desarrollamos plataformas web estructuradas de manera ordenada para ser reconocidas y aceptadas por los diferentes motores de busqueda
	</div>

	<div class="col-sm-4 text-center item">
		<i class="ion-ipad"></i>
		<h2>Diseño Responsivo</h2>
		Diseñamos sitios web que se adaptan a cualquier tipo de dispositivo, ahora tus clientes podran estar al tanto de tus promociones desde su smartphone
	</div>
</div>

<div class="container grey">
	<div class="col-sm-12 text-center">
		<h1>Nuestra Historia</h1>
	</div>

	<div class="col-sm-12">
		<img src="public/media/evolution.svg" width="100%" alt="">
	</div>
</div>
<div class="container grey">
	<div class="col-sm-4 item text-center">
		<i class="ion-calendar"></i>
		<h2>Dedicados</h2>
		desde el año 2005 a brindar los servicios de diseño y desarrollo de páginas web, diseño gráfico, aplicaciones web y SEO.
	</div>
	<div class="col-sm-4 item text-center">
		<i class="ion-trophy"></i>
		<h2>El objetivo principal</h2>
		de WECONNECT es llevar a cada profesionista, negocio, pequeña , mediana y grande empresa al mundo digital que se presenta hoy en día como la nueva generación del marketing.
	</div>
	<div class="col-sm-4 item text-center">
		<i class="ion-cube"></i>
		<h2>Plataformas web</h2>
		diseñadas con excelente calidad a un costo indudablemente económico, respaldado por la seriedad, la atención y el profesionalismo del equipo de WECONNECT.
	</div>
</div>

<div class="contianer grey">
	<div class="col-sm-5">
		<img src="public/media/Mobile.png" width="100%" alt="">
	</div>
	<div class="col-sm-5">
		<h2>¿Por que nosotros?</h2>
		<br>
		<p>
			Por que para nosotros cada proyecto es diferente, diseñamos páginas web profesionales, agradables y de excelente calidad, con navegación rápida, amigable y segura tanto para nuestros clientes, como para los visitantes.
		</p>
		<br>
		<p>
			Trabajamos en cualquier parte de México y el mundo. Somos un estudio de diseño web profesional que trabaja en cualquier parte la República Mexicana.
		</p>

		<br>
		<p>
			Nos entusiasma trabajar con nuestros clientes y ver la evolución de sus negocios.
		</p>

		<br>
		<p>
			Siempre estamos dispuestos a resolver las necesidades de nuestros clientes como si fueran nuestras, le ponemos pasión a lo que hacemos y eso se ve reflejado en nuestros trabajos y en la satisfacción de nuestros clientes.
		</p>

		<br>
		<p>
			Nosotros trabajamos en base a una serie de principios de valor, mismos que nos hacen ser mejores, algunos de nuestros valores son:
		</p>
	</div>
</div>

<div class="container grey">
	<div class="col-sm-12">
		<br>
	</div>
	<div class="col-sm-3 item text-center">
		<i class="ion-android-checkmark-circle"></i>
		<h3>Responsabilidad</h3>
	</div>
	<div class="col-sm-3 item text-center">
		<i class="ion-android-checkmark-circle"></i>
		<h3>Seriedad</h3>
	</div>
	<div class="col-sm-3 item text-center">
		<i class="ion-android-checkmark-circle"></i>
		<h3>Puntualidad</h3>
	</div>
	<div class="col-sm-3 item text-center">
		<i class="ion-android-checkmark-circle"></i>
		<h3>Compromiso</h3>
	</div>
</div>

<div class="container grey">
	<div class="col-sm-12">
		<br>
	</div>
	<div class="col-sm-12 text-center">
		<h2>¿Quieres un sitio web?</h2>
		<br>
		<a href="/create_project" class="btn btn-material">Hagamos un proyecto juntos!!</a>
	</div>
</div>