<div class="container">
	<div class="col-sm-12 card">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et voluptatem error iste molestias. Eos consectetur, exercitationem, eum voluptate fugiat placeat quas, dolore in aut veniam, commodi nesciunt suscipit. Vitae, laudantium.
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et voluptatem error iste molestias. Eos consectetur, exercitationem, eum voluptate fugiat placeat quas, dolore in aut veniam, commodi nesciunt suscipit. Vitae, laudantium.
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et voluptatem error iste molestias. Eos consectetur, exercitationem, eum voluptate fugiat placeat quas, dolore in aut veniam, commodi nesciunt suscipit. Vitae, laudantium.
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et voluptatem error iste molestias. Eos consectetur, exercitationem, eum voluptate fugiat placeat quas, dolore in aut veniam, commodi nesciunt suscipit. Vitae, laudantium.
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et voluptatem error iste molestias. Eos consectetur, exercitationem, eum voluptate fugiat placeat quas, dolore in aut veniam, commodi nesciunt suscipit. Vitae, laudantium.
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et voluptatem error iste molestias. Eos consectetur, exercitationem, eum voluptate fugiat placeat quas, dolore in aut veniam, commodi nesciunt suscipit. Vitae, laudantium.
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et voluptatem error iste molestias. Eos consectetur, exercitationem, eum voluptate fugiat placeat quas, dolore in aut veniam, commodi nesciunt suscipit. Vitae, laudantium.
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et voluptatem error iste molestias. Eos consectetur, exercitationem, eum voluptate fugiat placeat quas, dolore in aut veniam, commodi nesciunt suscipit. Vitae, laudantium.
		
	</div>
	<div class="col-sm-12 card">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et voluptatem error iste molestias. Eos consectetur, exercitationem, eum voluptate fugiat placeat quas, dolore in aut veniam, commodi nesciunt suscipit. Vitae, laudantium.
	</div>
	<div class="col-sm-12 card">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et voluptatem error iste molestias. Eos consectetur, exercitationem, eum voluptate fugiat placeat quas, dolore in aut veniam, commodi nesciunt suscipit. Vitae, laudantium.
	</div>
	<div class="col-sm-12 card">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et voluptatem error iste molestias. Eos consectetur, exercitationem, eum voluptate fugiat placeat quas, dolore in aut veniam, commodi nesciunt suscipit. Vitae, laudantium.
	</div>
	<div class="col-sm-12 card">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et voluptatem error iste molestias. Eos consectetur, exercitationem, eum voluptate fugiat placeat quas, dolore in aut veniam, commodi nesciunt suscipit. Vitae, laudantium.
	</div>
	<div class="col-sm-12 card">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et voluptatem error iste molestias. Eos consectetur, exercitationem, eum voluptate fugiat placeat quas, dolore in aut veniam, commodi nesciunt suscipit. Vitae, laudantium.
	</div>
	<div class="col-sm-12 card">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et voluptatem error iste molestias. Eos consectetur, exercitationem, eum voluptate fugiat placeat quas, dolore in aut veniam, commodi nesciunt suscipit. Vitae, laudantium.
	</div>
	<div class="col-sm-12 card">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et voluptatem error iste molestias. Eos consectetur, exercitationem, eum voluptate fugiat placeat quas, dolore in aut veniam, commodi nesciunt suscipit. Vitae, laudantium.
	</div>
	<div class="col-sm-12 card">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et voluptatem error iste molestias. Eos consectetur, exercitationem, eum voluptate fugiat placeat quas, dolore in aut veniam, commodi nesciunt suscipit. Vitae, laudantium.
	</div>
	<div class="col-sm-12 card">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et voluptatem error iste molestias. Eos consectetur, exercitationem, eum voluptate fugiat placeat quas, dolore in aut veniam, commodi nesciunt suscipit. Vitae, laudantium.
	</div>
	<div class="col-sm-12 card">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et voluptatem error iste molestias. Eos consectetur, exercitationem, eum voluptate fugiat placeat quas, dolore in aut veniam, commodi nesciunt suscipit. Vitae, laudantium.
	</div>
	<div class="col-sm-12 card">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et voluptatem error iste molestias. Eos consectetur, exercitationem, eum voluptate fugiat placeat quas, dolore in aut veniam, commodi nesciunt suscipit. Vitae, laudantium.
	</div>
	<div class="col-sm-12 card">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et voluptatem error iste molestias. Eos consectetur, exercitationem, eum voluptate fugiat placeat quas, dolore in aut veniam, commodi nesciunt suscipit. Vitae, laudantium.
	</div>

</div>