<div class="container">

	<div class="col-sm-12 visible-xs">
		<img src="public/media/logo.png" height="70px" alt="">
	</div>
	<div class="slogan">
		<h2>
			PERFECTA COMBINACION: 
		</h2>
		<p>
			Creatividad, Conocimiento y Tecnología.
		</p>
		<a href="/about" class="btn btn-material">Conoce mas acerca de nosotros</a>
		<a href="/create_project" class="btn btn-material-outline">Crear un proyecto</a>
	</div>
	<div class="bg-loder hidden-xs">
		<img src="public/media/puff.svg" alt="">
	</div>

</div>