<div class="container">
	<div class="col-sm-12 text-center">
		<h2>NUESTROS SERVICIOS</h2>
	</div>
	<div class="col-sm-12">
		<br>
	</div>
	<div class="col-sm-12">
		Ofrecemos múltiples servicios para ayudar a pequeñas, medianas y grandes empresas a mejorar su presencia utilizando lo último en tecnología para asegurar un excelente rendimiento y un diseño perfecto hasta el más mínimo detalle.
	</div>
</div>
<div class="container grey">
	<div class="col-sm-4 item text-center">
		<h4>DISEÑO WEB</h4>
		<ul>
			<li>Tienda Virtual</li>
			<li>Plataforma Web</li>
			<li>CMS</li>
			<li>Avanzada</li>
			<li>Basica</li>
		</ul>
	</div>
	<div class="col-sm-4 item text-center">
		<h4>DISEÑO GRÁFICO</h4>
		<ul>
			<li>Logotipos</li>
			<li>Ilustraciones</li>
			<li>Impreso</li>
			<li>Etc..</li>
		</ul>
	</div>
	<div class="col-sm-4 item text-center">
		<h4>IMPRESIÓN OFFSET</h4>
		<ul>
			<li>Tarjetas de presentación</li>
			<li>Volantes</li>
			<li>Trípticos</li>
			<li>Notas</li>
			<li>Etc..</li>
		</ul>
	</div>
	<div class="col-sm-4 item text-center">
		<h4>IMPRESIÓN DIGITAL</h4>
		<ul>
			<li>Tarjetas de presentación</li>
			<li>Volantes</li>
			<li>Trípticos</li>
			<li>Notas</li>
			<li>Etc..</li>
		</ul>
	</div>
	<div class="col-sm-4 item text-center">
		<h4>IMPRESIÓN EN LONA</h4>
		<ul>
			<li>Calidad Fotográfica</li>
			<li>Calidad Normal</li>
		</ul>
	</div>
	<div class="col-sm-4 item text-center">
		<h4>OTROS</h4>
		<ul>
			<li>Recorte de vinil</li>
			<li>Vinil impreso</li>
			<li>Social Media</li>
			<li>Videos Corporativos</li>	
			<li>Etc..</li>
		</ul>
	</div>
</div>